<div class="card padding margin-top">
    <h5 class="text-uppercase"><%= article.title %></h5>
    <p class="text-secondary">Author: <strong><%= article.user.email %></strong></p>
    <p class="text-secondary">Date: <%= article.created_at %></p>
    <%= link_to "See more", article %>
</div>